<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand text-capitalize" href="#">&nbsp;
      <img src="assets/img/FL_logo3.jpg" id="logo" class="rounded-circle">&nbsp;Laszlo Feischmidt</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="#">Motivation</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#">Experience</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#">Sport</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#">Read</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>