<div class="introduction">
  <div class="jumbotron" id="jumbotron">
    <h1 class="heading">The infinite game</h1>
    <p class="paragraph">It is about taking action, making constantly decisions in good times and hard ones. Find your
      <strong>WHY</strong> and pursue it, make an obsession out of it, built it step by step. Learn to fail and fail to learn. Each
      evaluated experience can shape one's character. Do the
      <strong>WORK</strong>, be
      <strong>CONSISTENT</strong>, get better each day. You are the architect of your own life – health, relationships, work experience.
      If you don’t lead yourself, somebody else will.&nbsp;Surround yourself with people who resonate with your ideas, principles
      – they will lift you up and as a consequence you will lift others up.</p>
    <p class="paragraph">
      <a class="btn btn-info" role="button" href="www.impacttheory.com" target="_blank">Inspirational playground</a>
    </p>
  </div>
</div>
<div class="d-inline d-flex" data-bs-parallax-bg="true" style="height:250px;background-image:url(assets/img/computer.jpg);background-position:center;background-size:cover;"></div>