<div id="#whatandwhy" class="whyandwhat">
  <div class="container" id="whyandwhat">
    <h1>Motivation</h1>
    <p>Feeling
      <strong>FULLFILLMENT</strong> and
      <strong>JOY</strong> – during both the building process and while seeing the end result. 
      What you experience now is non other then result of motivation,
      learning and goal definition. It's only the first step, the hardest one - the game has just begun.</p>
  </div>
</div>
<div class="whyandwhat" style="background-color:#cccccc;">
  <div class="container" id="whyandwhat">
    <div class="row justify-content-center">
      <div class="col col-md-4 col-sm-12 col-xs-12">
        <app-jobsection></app-jobsection>
      </div>
      <div class="col col-md-4 col-sm-12 col-xs-12">
        <app-sportsection></app-sportsection>
      </div>
      <div class="col col-md-4 col-sm-12 col-xs-12">
        <app-mindsetsection></app-mindsetsection>
      </div>
    </div>
  </div>
</div>