<div id='#sport'>
  <h2 class="text-center">
    Sports</h2>
  <img class="img-fluid" src="assets/img/sport.jpg" data-bs-hover-animate="pulse">
  <p>Mooving = Living.</p>
  <p>A few benefits of working out:
    <strong>better sleep</strong>, getting
    <strong>energy boost</strong>,
    <strong>improving memory</strong>,
    <strong>increasing self-confidence</strong>,
    <strong>reducing</strong> the risks of
    <strong>heart disease</strong> and getting used to the ”heavy” things. Just like seeking your
    <strong>WHY</strong>, finding a passion towards sports is just as important for maintaining a healthy body and mind.&nbsp;</p>
  <p>Besides crossfit, mountain biking and snowboarding, member of the&nbsp;
    <strong>ProSquash Romania Association</strong>, active squash player and coach.
  </p>
  <a href="http://www.prosquash.ro" target="_blank" rel="external">Work hard, play hard</a>
</div>