<div class="footer-clean" style="background-color:#cccccc;">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li>
              <a target="_blank">Web design</a>
            </li>
            <li>
              <a target="_blank">Development</a>
            </li>
            <li>
              <a target="_blank">SAP IT Consulting</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 item social">
          <a href="https://www.facebook.com/profile.php?id=100010499463804" target="_blank">
            <i class="icon ion-social-facebook"></i>
          </a>
          <a href="https://ro.linkedin.com/in/feischmidt-laszlo" target="_blank">
            <i class="icon ion-social-linkedin"></i>
          </a>
          <a href="https://github.com/feischml" target="_blank">
            <i class="icon ion-social-github"></i>
          </a>
          <a href="https://www.instagram.com/laszlo_feischmidt/" target="_blank">
            <i class="icon ion-social-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
<div class="brands">
  <a style="cursor: default;" class="logos" style="background-color:#cccccc;">
    <img src="assets/img/logo_msg2.png" width="100px">
    <img src="assets/img/logoprosquash.png" width="130px">
    <img src="assets/img/impact-theory-logo.png" width="150px">
    <img src="assets/img/John-Maxwell-logo.png" width="200px">
    <img src="assets/img/github.png" width="30px">
  </a>
</div>