<h2 class="text-center">
  Work Experience</h2>
<img class="img-fluid" src="assets/img/matrix.jpg" data-bs-hover-animate="pulse">
<p>Work mean effort.</p>
<p>Experienced
  <strong>SAP</strong>&nbsp;IT Consultant with a history of working in the Information Technology and services industry – mostly in the 
  <strong>Insurance</strong> and
  <strong>Reinsurance</strong> business for clients from different continents. Skilled in
  <strong>SAP Netweaver,</strong> ABAP, passionate about
  <strong>MEAN Stack </strong>technologies, <strong>Java Script</strong>, HTML, CSS and with basic knowledge in
  <strong>Android </strong>Mobile Application development. Strongly interested in the 
  development of non-technical skills as communication, mentoring, leadership.
</p>
<a
  href="https://ro.linkedin.com/in/feischmidt-laszlo" target="_blank">Profile
</a>
<a>
  <i class="icon ion-social-linkedin" style="margin:3px;width:0px;height:0px;padding:0px;"></i>
</a>