<div id="#mindset">
  <h2 class="text-center">Mindset</h2>
  <img class="img-fluid" src="assets/img/5steps.jpg" data-bs-hover-animate="pulse">
  <p>Read. Listen. Learn. Apply.</p>
  <p>"We cannot become what we need by remaining what we are." -
    <strong>John C. Maxwell</strong>
  </p>
  <p>Constantly changing and adapting to different situations is one of the key of success, 
    when success means becoming the person you've imagined to be.
    <br>
  </p>
  <p>Check the books below for a starting point and listen to stories of people with amazing achievements that can give
    you the direction towards developing the best version of yourself.
    <br>
  </p>
  <a href="http://www.impacttheory.com" target="_blank">Become an impactivist</a>
</div>