<div class="whyandwhat">
  <div class="container" id="whyandwhat">
    <h1>Read</h1>
    <p>Learning equals moving forward. Reading is the most important part of the process and when it becomes a daily routine,
      it will be the most powerfull. Here are some of the books that impacted my perception about life, relationships, work:</p>
    <div class="row no-gutters align-content-center justify-content-center">
      <div class="col col-md-6 col-sm-12 col-xs-12" data-aos="fade-up">
        <div class="card">
          <img class="card-img-top w-100 d-block align-items-center align-content-center align-self-center" src="assets/img/laws.png">
          <div class="card-body">
            <h4 class="card-title">John C. Maxwell</h4>
            <p class="card-text">The 15 Invaluable
              <strong>Laws of Growth</strong>
            </p>
            <p>Development does not appear "just like that". As much as you delay doing something, the greater are the chances
              that you will never do it. Take action. Today.</p>
            <p>Watch how John Maxwell is explaining the law of reflection
              <a href="https://youtu.be/ze6UbuToEw4">
                <strong>
                  <span style="text-decoration: underline;">here.</span>
                </strong>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-sm-12 col-xs-12" data-aos="fade-up">
        <div class="card">
          <img class="card-img-top w-100 d-block" src="assets/img/ray_dalio.png">
          <div class="card-body">
            <h4 class="card-title">Ray Dalio</h4>
            <p class="card-text">
              <strong>Principles</strong>
            </p>
            <p>A lot of invaluable information and guidence. Life and work principles in one book for achieving one's goals
              and making effective choices - a mix of psychology and neuroscience applied and greatly exemplified.</p>
            <p>Ray Dalio on radical truth and transparency:
              <a href="https://youtu.be/3bH7oPgXrHw">
                <strong>
                  <span style="text-decoration: underline;">here.</span>
                </strong>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-sm-12 col-xs-12" data-aos="fade-up">
        <div class="card">
          <img class="card-img-top w-100 d-block" src="assets/img/grit.jpg">
          <div class="card-body">
            <h4 class="card-title">Angela Duckworth</h4>
            <p class="card-text">
              <strong>Grit</strong>
            </p>
            <p>What is more important? Hard work, effort or talent? Angela describes why effort counts twice and how small,
              achievable, daily goals can keep the motivation level up and help in making progress.</p>
            <p>Have a look
              <a href="https://youtu.be/H14bBuluwB8">
                <strong>
                  <span style="text-decoration: underline;">here</span>
                </strong>
              </a> at the Ted talk about Grit.</p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-sm-12 col-xs-12" data-aos="fade-up">
        <div class="card">
          <img class="card-img-top w-100 d-block" src="assets/img/why.jpg">
          <div class="card-body">
            <h4 class="card-title">Simon Sinek</h4>
            <p class="card-text">Start with
              <strong>WHY</strong>
            </p>
            <p>We have to understand our
              <strong>WHY</strong>. Anyone can explain what he/she is doing, organisations can explain what they are doing, but only
              a few can answer to the question
              <strong>WHY</strong>?
              <strong>WHY</strong> is the thing that inspires us and the people around us.&nbsp;</p>
            <p>Great interview with Simon Sinek talking about leadership and millenials&nbsp;
              <a href="https://www.youtube.com/watch?v=lPwYUDD9Pd4">
                <strong>
                  <span style="text-decoration: underline;">here.</span>
                </strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>